
.icon-align-justify:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-user-1:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-menu-outline:before { content: '\e807'; } /* '' */
.icon-menu-1:before { content: '\e808'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */