@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*corregir posicion del logo*/
.header-container-img{
    display: left;
    margin: 10px 10px 10px 20px;
    display: inline-flex;
}
/*____________EstiloHeader_______________*/
h1 {
    font-family: 'Montserrat', sans-serif;
    float: left;
}
header {
    width: 100%;
    height: 70px;
    background: #F0F1F0;
    color: black;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
    box-shadow: 1px 1px 10px 0px gray;
    border-radius: 10px;
}
.contenedor{
    width: 98%;
    margin: auto;
    
}
header .contenedor{
    display: table;
}

/*____________EstiloHeader_______________*/

/*___________EstiloBoton_______________*/
.btnNext{
    width: 100%;
    height: 70px;
    background: white;
    margin-top: 50px;
    display: flex;
    text-align: right;
}

.btn{
    width: 290px;
    height: 30px;
    font-size: 20px;
    margin: auto;
    border-style: none;
    background: #03045e;
    color: white;
    transition: all 300ms;
    border-radius: 10px;
    outline: none;
}

.btn:hover{
    background: #023e8a;
    transition: all 300ms;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0px #0077b6;
}

.btn:active{
    background: #0096c7;
    transition: all 100ms;
    color: white;
    /*------modificar-----*/
    transform: scale(1);
}
/*___________EstiloBoton_______________*/

/*____________EstiloBarraNav_______________*/
#menu-bar{
    display: none;
}
header label{
    display: right;
    float: right;
    font-size: 45px;
    margin: 6px 0;
    cursor: pointer;
    color: gray;
}

.menu{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu1{
    display: block;
    color: white;
    height: 60px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.menu1:hover{
    background: rgba(255,255,255,0.2);
        
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}

@media (min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background: #F0F1F0;
    }
    .menu1{
        border-bottom: none;
        font-family: 'Open Sans', sans-serif; 
        color: #1F6394;
        font-size: 140%;
    }
    .menu1:hover{
        height: 60px;
        color: #18DDCD; 
        background: none;
        transform: scale(1.1);
        transition: all 300ms;
    }
    header label{
        display: none;
    }
       
}



/*____________EstiloBarraNav_______________*/

/*____________EstiloSección________________*/
.subgen{
    display: block;
    width: 50%;
    padding: 7px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;   
}
.des h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    margin-bottom: 20px; 
    color: #1F6394;
}
.des h2:hover{
        color: #18DDCD; 
        background: none;
        transform: scale(1.1);
        transition: all 300ms;
}


.des p{
    font-family: 'Open Sans', sans-serif;
    color: #A9A9A9;
    margin-bottom: 30px;
    
}
.wp h3{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    margin-top: 17px;
    color: #828484; 
}

.opcional h4{
    font-family: 'Open Sans', sans-serif;
    color: #828484; 
    margin-top: 10px;
    margin-bottom: 17px;   
}

#anhos {
    background: white;
    border: none;
    outline: none;
    border-bottom: 2px solid #18DDCD;
    width: 60px;
    height: 25px;
    text-align: center;
    color: #A9A9A9;
    font-size: 110%;
    margin-left: 15px;
}
#anhos:hover{
    border-bottom: 2px solid #297A73;
    transition: all 300ms;
    transform: scale(1.1);
    border-radius: 5px;
    background: #EBF0F0;
    cursor: pointer;
}
.formulario input[type="radio"],
.formulario input[type="checkbox"]{
    display: none;   
}
.formulario .radio label,
.formulario .checkb label {
    color: #A9A9A9;
    padding: 5px 15px 5px 51px;
    margin-bottom: 2px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.formulario .radio label:hover,
.formulario .checkb label:hover {
    background: rgba(45,207,193,0.3);
}
.formulario .radio label:before,
.formulario .checkb label:before {
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    border: 3px solid #18DDCD;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 2px;
}
.formulario .checkb label:before {
    border-radius: 3px;
}
.formulario input[type="radio"]:checked + label,
.formulario input[type="checkbox"]:checked + label{
    padding: 5px 15px;
    background: #0EAB92;
    color: white;
    
    
}
.formulario input[type="radio"]:checked + label:before,
.formulario input[type="checkbox"]:checked + label:before{
    display: none;
}

/*____________EstiloSección________________*/
/*____________EstiloFooter________________*/

footer .contenedor{
    display: flex;
    justify-content: center;
    color: #828484;
    margin-top: 8%;
    margin-left: 17px;
    margin-right: 17px;
    padding-top: 10px;
    border-top: 2px solid #A9A9A9; 
}




/*____________EstiloFooter________________*/






