:root {
    --primary-color: #f3f3f3;
    --secondary-color: #3C3B3B;
    --terciary-color: #115571;
    ;
    --contrast-color: #34AFB4;
    --primary-light-color: rgb(233, 232, 232);
}

body {
    margin: 0;
    padding: 0;
    background: url(../assets/mask.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    opacity: 100%;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: var(--terciary-color);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: var(--secondary-color);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: var(--contrast-color);
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box .btn:hover {
    color: #fff;
    transition: 0.4s;
    background-color: var(--contrast-color);
    transform: scale(1.07);
  }

  .login-box a:hover {
    color: #fff;
    transition: 0.4s;
    transform: scale(1.07);
  }

  .btn {
    margin-left: 5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: var(--secondary-color);
    font-size: 15px;
    border-radius: 2rem;
    border: 1px solid #fff;
  }

::-webkit-input-placeholder { color: rgb(104, 174, 192); } 