<link rel="stylesheet" href="/css/styles2.css">

  <div class="card bg-dark text-white" style="width: 10 rem;">
    <img src="/img/sobre-nosotros3.png" class="card-img" alt="Sobre nosotros imagen">
    <div class="card-img-overlay">
      <h5 class="card-title"><br> SOBRE DE NOSOTROS</h5>
      <p class="card-text">
          <br>Somos un grupo del curso de Calidad de Software, Universidad Nacional<br> 
          Mayor de San Marcos, que se propuso a realizar una página web que brinde<br>
          un servicio de monitoreo del COVID-19 como proyecto final para el curso.<br>


      </p>
    </div>
  </div>
