<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-4">
            <h1 class="mb-4 card-title bienvenidos py-4"><strong>Bienvenidos a "Salud y Cuidado"</strong> </h1>
            <div class="card-body goal my-4">
                <p class="mx-4">Nuestro objetivo principal es determinar la condición de
                    riesgo de un paciente mediante el algoritmo oficial de la OMS</p>
                <img src="/img/findex.png" width="500" height="350" alt="foto index">
            </div>
            <h3>
                <a href="/signup" class="btn btn-primary">
                    Regístrate
                </a>
            </h3>
        </div>
    </header>
</main>